<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Tambah Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container-fluid">
	<h2>Tambah Pegawai</h2>
	<br>
	
	<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
		<div class="row">
				<div class="col-2">Nama</div>
				<div class="col-4">
					<input class="form-control" type="text" name="nama" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-2">Tempat Lahir</div>
				<div class="col-4">
					<input class="form-control" type="text" name="tempatLahir" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-2">Tanggal Lahir</div>
				<div class="col-2">
					<input class="form-control" type="date" name="tanggalLahir" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-2">Tahun Masuk</div>
				<div class="col-2">
					<input class="form-control" type="text" name="tahunMasuk" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-2">Provinsi</div>
				<div class="col-4">
					<select class="form-control" id="provinsi" name="provinsi" required="required">
						<option disabled="disabled" selected="selected">-- Pilih Provinsi --</option>
						<option th:each="provinsi : ${listProvinsi}"
								th:value="${provinsi.id}"
								th:text="${provinsi.nama}">
						</option>
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-2">Instansi</div>
				<div class="col-4">
					<select class="form-control" id="instansi" name="instansi" th:value="${instansi}" required="required">
						<option disabled="disabled" selected="selected">-- Pilih Instansi --</option>
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-2">Jabatan</div>
				<div class="col-6">
					<table border="1">
						<tr th:each="jabatan,iterationStatus : ${listJabatan}">
							<td th:text="${iterationStatus.count}"></td>
							<td th:text="${jabatan.nama}"></td>
							<td><input type="checkbox"
									th:field="*{jabatanList}"
									th:value="${jabatan.id}" />
								<label th:for="${#ids.prev('jabatanList')}"></label></td>
								
						</tr>
					</table>
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
			<br><br>
	</form>
	</div>
	
	<script>
	$('#provinsi').change(
	        function() {
	        	
	            $.getJSON("http://localhost:8080/get-provinsi", {
	                provinsiId : $(this).val(),
	                ajax : 'true'
	            }, function(data) {
	                var html = '<option disabled="disabled" selected="selected">-- Pilih Instansi --</option>';
	                var len = data.length;
	                for (var i = 0; i < len; i++) {
	                    html += 
	                    	'<option value= "'+ data[i].id +'" th:text="'+ data[i].nama +'">' + data[i].nama + '</option>';
	                }
	                $('#instansi').html(html);
	         });
           });
		 
		 $('#instansi').change(
			function(){				
				
				$.getJSON("http://localhost:8080/get-instansi", {
	                instansiId : $(this).val(),
	                ajax : 'true'
	            }, function(data) {
	                this.value = data;
	       	});
		});	
	</script>
</body>
</html>