<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<br>
		<h2>Sistem Informasi Kepegawaian</h2>
		<br>
		<p>Selamat datang di Sistem Informasi Kepegawaian</p>
		<br>
		<hr>
		<h2>Lihat Data Pegawai berdasarkan NIP</h2>
		<p><strong>Masukan Nomor Induk Pegawai</strong></p>
		<form th:action="@{/pegawai/view}" method="GET">
			<div class="row">
				<div class="col-4">
					<input class="form-control" type="text" name="nip" />
				</div>
			</div>
			<br>
			<button class="btn btn-primary" type="submit">Lihat</button>
		</form>
		<br>
		<hr>
		<h2>Lihat Detail Jabatan</h2>
		<p><strong>Pilih Jabatan</strong></p>
		<form th:action="@{/jabatan/view}" method = "GET">
			<div class="row">
				<div class="col-3">
					<select class="form-control" th:name="idJabatan">
						<option disabled="disabled" selected="selected"> Pilih Jabatan </option>
						<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
					</select>
				</div>
			</div>
			<br>
			<button class="btn btn-primary" type="submit">Lihat</button>
		</form>
		<br>
		<hr>
		<h2>Lihat Pegawai Termuda dan Tertua</h2>
		<p><strong>Pilih Provinsi</strong></p>
		<form th:action="@{/pegawai/termuda-tertua}" method="GET">
			<div class="row">
				<div class="col-6">
					<select class="form-control" th:name="idInstansi">
						<option disabled="disabled" selected="selected"> Pilih Instansi </option>
						<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}+' - '+${instansi.provinsi.nama}"></option>
					</select>
				</div>
			</div>
			<br>
			<button class="btn btn-primary" type="submit">Lihat</button>
		</form>
		<br><hr><br>
	</div>
</body>

</html>