<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Detail Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-5">
				<h2>Data Pegawai Termuda</h2>
				<br>
				<div class="row">
					<div class="col-4">
						NIP
					</div>
					<div class="col-5">
						<p th:text="${pegawaiMuda.nip}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Nama
					</div>
					<div class="col-5">
						<p th:text="${pegawaiMuda.nama}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Tempat Lahir
					</div>
					<div class="col-5">
						<p th:text="${pegawaiMuda.tempatLahir}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Tanggal Lahir
					</div>
					<div class="col-5">
						<p th:text="${pegawaiMuda.tanggalLahir}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Tahun Masuk
					</div>
					<div class="col-5">
						<p th:text="${pegawaiMuda.tahunMasuk}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Nama Instansi
					</div>
					<div class="col-8">
						<p th:text="${pegawaiMuda.instansi.nama}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Jabatan
					</div>
					<div class="col-8">
						<ul>
							<li th:each="jabatan : ${pegawaiMuda.jabatanList}" th:text="${jabatan.nama}">
						</ul>
					</div>
				</div>
				<hr>
			</div>
			<span class="border-right"></span>
			<div class="col-5">
				<h2>Data Pegawai Tertua</h2>
				<br>
				<div class="row">
					<div class="col-4">
						NIP
					</div>
					<div class="col-5">
						<p th:text="${pegawaiTua.nip}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Nama
					</div>
					<div class="col-5">
						<p th:text="${pegawaiTua.nama}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Tempat Lahir
					</div>
					<div class="col-5">
						<p th:text="${pegawaiTua.tempatLahir}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Tanggal Lahir
					</div>
					<div class="col-5">
						<p th:text="${pegawaiTua.tanggalLahir}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Tahun Masuk
					</div>
					<div class="col-5">
						<p th:text="${pegawaiTua.tahunMasuk}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Nama Instansi
					</div>
					<div class="col-8">
						<p th:text="${pegawaiTua.instansi.nama}">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-4">
						Jabatan
					</div>
					<div class="col-8">
						<ul>
							<li th:each="jabatan : ${pegawaiTua.jabatanList}" th:text="${jabatan.nama}">
						</ul>
					</div>
				</div>
				<hr>
			</div>
			<span class="border-right"></span>
		</div>
	</div>
</body>

</html>