<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
		<meta charset="ISO-8859-1">
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<h2 th:text="'Detail Jabatan '+${jabatan.nama}"></h2>
		<p th:text="'Nama : '+ ${jabatan.nama}"></p>
		<p th:text="'Nama : '+ ${jabatan.deskripsi}"></p>
		<p th:text="'Gaji Pokok : '+ ${#numbers.formatDecimal(jabatan.gajiPokok, 0, 'COMMA', 2, 'POINT')}"></p>
		<form th:action="@{/jabatan/ubah/}" method="GET">
			<input type="hidden" name="idJabatan" th:value="${jabatan.id}" />
			<button value="submit">Update</button>
		</form>
		<br>
		<button>Hapus</button>
	</body>
</html>