<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
		<meta charset="ISO-8859-1">
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="container-fluid">
		<h2 th:text="'Detail Jabatan - '+${jabatan.nama}"></h2>
			<br>
			<div class="row">
				<div class="col-2">Nama</div>
				<div class="col-9" th:text="${jabatan.nama}"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-2">Deskripsi</div>
				<div class="col-9" th:text="${jabatan.deskripsi}"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-2">Gaji Pokok</div>
				<div class="col-9" th:text="${#numbers.formatDecimal(jabatan.gajiPokok, 0, 'COMMA', 2, 'POINT')}"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-2">Jumlah Pegawai</div>
				<div class="col-9" th:text="${jumlahPegawai}"></div>
			</div>
			<hr>
		<div class="row">
		<div class="col-1">
		<form th:action="@{/jabatan/ubah/}" method="GET">
			<input type="hidden" name="idJabatan" th:value="${jabatan.id}" />
			<button class="btn btn-primary" value="submit">Update</button>
		</form>
		</div>
		<div class="col-1">
		<form th:action="@{/jabatan/hapus/}" method="POST">
			<input type="hidden" name="idJabatan" th:value="${jabatan.id}" />
			<button class="btn btn-primary" value="submit">Hapus</button>
		</form>
		</div>
		</div>
		</div>
	</body>
</html>