<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
		<meta charset="ISO-8859-1">
	</head>
	<body>
		<h2 th:text="'Lihat Data Pegawai - '+${pegawai.nip}"></h2>
		<p th:text="'NIP : '+ ${pegawai.nip}"></p>
		<p th:text="'Nama : '+ ${pegawai.nama}"></p>
		<p th:text="'Tempat Lahir : '+ ${pegawai.tempatLahir}"></p>
		<p th:text="'Tanggal Lahir : '+ ${pegawai.tanggalLahir}"></p>
		<p th:text="'Tahun Masuk : '+ ${pegawai.tahunMasuk}"></p>
		<p th:text="'Nama Instansi : '+ ${pegawai.instansi.namaInstansi}"></p>
		<p th:text="'Jabatan : '"></p>
		<ul>
		<li th:each="jabatan : ${pegawai.jabatanList}" th:text="${jabatan.nama}">
		</li>
		</ul>
		<p th:text="'Gaji : Rp'+ ${#numbers.formatDecimal(gaji, 0, 'COMMA', 2, 'POINT')}"></p>

	</body>
</html>